
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
 --bg-gray: #ddd;
 --color-primary: #4d41c0;
 --white: #fff;
 --text-gray: #4a4a4a

}

* {

    box-sizing:border-box;
font-family: 'Open Sans', sans-serif;

}

html, body {
    background-color: var(--bg-gray)

}
header {
    background-color: var(--color-primary);
    color: var(--white);
    height: 60px;
    display: flex;
    align-items: center;
    
}
a, a:hover { 
    text-decoration: none;
    color: unset;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    font-size: 24px;
    font-weight; 700;
}

nav a {
    font-size: 12pix;
    font-weight: 400;
}

.dsmovie-contact-container {
    display: flex;
    align-items: center;

}

.dsmovie-contact-container img {
margin-right: 10px;
}

#dsmovie-card-list {
    padding: 40px 0;
}

   .dsmovie-card {
  width: 360px;
  height: 400px;
  
}

.dsmovie-card img {
 width: 100%;
 border-radius: 8px 8px 0 0;
}

.dsmovie-card-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 20px 0;
    background-color: var(--white);
    border-radius: : 0 0 8px 8px;

 
}

.dsmovie-card-description h3{
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: 700;


}

.dsmovie-btn, .dsmovie-btn:hover{
    width: 180px;
    height: 40px;
    background-color: var(--color-primary);
    color:var(--white);
    font-size: 14px;
    font-weight: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
